<table border="1">
  <tr>
    <th>Station# | </th>
    <th>Station Name</th>
    <th>Station ID </th>
    <th>Calendar date</th>
    <th>Daily max</th>
    <th>Daily min</th>
    <th>Are valid</th>
  </tr>
  <% @temperatures.each do |temperature| %>
    <tr>
      <td><%= temperature.station.station_nbr %></td>
      <td><%= temperature.station.name %></td>
      <td><%= temperature.station_id %></td>
      <td><%= temperature.calendar_date %></td>
      <td><%= temperature.daily_max %></td>
      <td><%= temperature.daily_min %></td>
      <td><%= temperature.are_valid %></td>
    </tr>
  <% end %>
</table>
