<p id="notice"><%= notice %></p>

<p>
  <strong>Station nbr:</strong>
  <%= @station.station_nbr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @station.county %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @station.is_active %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
