<p id="notice"><%= notice %></p>

<p>
  <strong>Station nbr:</strong>
  <%= @station.station_nbr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @station.county %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @station.is_active %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>

<p>
  <strong>Temperatures:</strong>
  <table>
    <thead>
      <tr>
        <th>Calendar Date</th>
        <th>Daily Max</th>
        <th>Daily Min</th>
        <th>Are Valid</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @station.temperatures.order("#{:calendar_date} desc").each do |temperature| %>
        <tr>
          <td><%= temperature.calendar_date %></td>
          <td><%= temperature.daily_max %></td>
          <td><%= temperature.daily_min %></td>
          <td><%= temperature.are_valid %></td>
          <td><%= link_to ' Edit ', edit_temperature_path(temperature) %></td>
          <td><%= link_to ' Destroy ', temperature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
